*, *:before, *:after {
  box-sizing: border-box;
}

.blogList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blogList__item {
  margin: 0.2rem 0;
  padding: 0.4rem;
  background-color: #eee;
}

.notification {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #eee;
  border-radius: .5rem;
  border: .2rem solid lightseagreen;
}

.notification--error {
  border-color: crimson;
}